body {
  font-size: 14px;
  color: #000000;
  line-height: normal;
  font-weight: bold;
  font-family: "PT Sans Narrow";
  background-color: #f7f4f1; /*общий фон*/
}

h1 {
  font-size: 30px;
  color: #000000;
  line-height: normal;
  font-weight: bold;
  font-family: "PT Sans Narrow";
}

h2 {
  font-size: 24px;
  color: #000000;
  line-height: normal;
  font-weight: bold;
  font-family: "PT Sans Narrow";
}

.main-header {
  background-color: #000000;
  margin-bottom: 30px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.nav-header {
  width: 760px;
  float: left;
}
.nav-header li {
  display: inline;
  margin-right: 41px;
}
.user-block {
  width: 140px;
  float: right;
}
.h1 {
  margin-bottom: 25px;
  text-transform: uppercase;
}
.breadcrumbs {
  margin-bottom: 60px;
}
.breadcrumbs ul {
  margin-left: 0;
  padding-left: 0;
}
.breadcrumbs li {
  display: inline;
  list-style-type: none;
  margin-right: 40px;
}
.col-gallery {
  width: 480px;
  float: left;
}
.col-set {
  width: 410px;
  float: right;
}
.nav-gallery {
  margin-top: 20px;
  margin-left: 0;
  padding-left: 0;
}
.nav-gallery li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}
.col-in-stock {
  width: 140px;
  float: left;
}
.col-art {
  width: 200px;
  float: right;
  text-align: right;
}
.col-filters {
  width: 230px;
  float: left;
}
.col-cards {
  width: 700px;
  float: right;
}
.main-row {
  margin-top: 60px;
}
.product-card {
  width: 220px;
  height: 290px;
  background-color: #ffffff;
  display: inline-block;
}
.list-cards {
margin-bottom: 45px;
}
.main-footer {
  margin-top: 50px;
  background-color: #232323;
  padding-top: 60px;
  padding-bottom: 40px;
}
.contacts-footer {
  float: left;
  width: 320px;
  margin-right: 60px;
}
.social-footer {
  float: left;
  width: 180px;
}
.copyright-footer {
  float: right;
  width: 180px;
}
